
@font-face {
  font-family: flowers-icons;
  src: url(../fonts/flowers-icons.eot?tt9l7b);
  src: url(../fonts/flowers-icons.eot?tt9l7b#iefix) format("embedded-opentype"), url(../fonts/flowers-icons.ttf?tt9l7b) format("truetype"), url(../fonts/flowers-icons.woff?tt9l7b) format("woff"), url(../fonts/flowers-icons.svg?tt9l7b#flowers-icons) format("svg");
  font-weight: 400;
  font-style: normal
}

[class*=" fl-icon-"], [class^=fl-icon-] {
  font-family: flowers-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fl-icon-rubl2-bold:before {
  content: "\63"
}

.fl-icon-rubl2:before {
  content: "\6f"
}

.fl-icon-rubl:before {
  content: "\71"
}

.fl-icon-user:before {
  content: "\e005"
}

.fl-icon-envelope-open:before {
  content: "\e01e"
}

.fl-icon-wallet:before {
  content: "\e02a"
}

.fl-icon-picture:before {
  content: "\e032"
}

.fl-icon-layers:before {
  content: "\e034"
}

.fl-icon-call-end:before {
  content: "\e048"
}

.fl-icon-bubbles:before {
  content: "\e04a"
}

.fl-icon-trash:before {
  content: "\e054"
}

.fl-icon-list:before {
  content: "\e067"
}

.fl-icon-home:before {
  content: "\e069"
}

.fl-icon-grid:before {
  content: "\e06a"
}

.fl-icon-clock:before {
  content: "\e081"
}

.fl-icon-eye:before {
  content: "\e087"
}

.fl-icon-lock:before {
  content: "\e08e"
}

.fl-icon-location-pin:before {
  content: "\e096"
}

.fl-icon-star:before {
  content: "\e09b"
}

.fl-icon-symble-female:before {
  content: "\e09c"
}

.fl-icon-symbol-male:before {
  content: "\e09d"
}

.fl-icon-phone:before {
  content: "\e0cd"
}

.fl-icon-keyboard_arrow_down:before {
  content: "\e313"
}

.fl-icon-keyboard_arrow_left:before {
  content: "\e314"
}

.fl-icon-keyboard_arrow_right:before {
  content: "\e315"
}

.fl-icon-keyboard_arrow_up:before {
  content: "\e316"
}

.fl-icon-phone2:before {
  content: "\e600"
}

.fl-icon-star2:before {
  content: "\e838"
}

.fl-icon-star_half:before {
  content: "\e839"
}

.fl-icon-star_border:before {
  content: "\e83a"
}

.fl-icon-cross:before {
  content: "\e870"
}

.fl-icon-cross-circle:before {
  content: "\e880"
}

.fl-icon-plus-circle:before {
  content: "\e881"
}

.fl-icon-circle-minus:before {
  content: "\e882"
}

.fl-icon-info:before {
  content: "\e88e"
}

.fl-icon-search:before {
  content: "\e8b6"
}

.fl-icon-border:before {
  content: "\e900"
}

.fl-icon-wedding3:before {
  content: "\e901"
}

.fl-icon-flowers:before {
  content: "\e902"
}

.fl-icon-vk:before {
  content: "\e903"
}

.fl-icon-fb:before {
  content: "\e904"
}

.fl-icon-inst:before {
  content: "\e905"
}

.fl-icon-arrow-down:before {
  content: "\e906"
}

.fl-icon-deliver:before {
  content: "\e907"
}

.fl-icon-cup:before {
  content: "\e908"
}

.fl-icon-waranty:before {
  content: "\e909"
}

.fl-icon-wedding4:before {
  content: "\e90a"
}

.fl-icon-wedding5:before {
  content: "\e90b"
}

.fl-icon-wedding6:before {
  content: "\e90c"
}

.fl-icon-wedding7:before {
  content: "\e90d"
}

.fl-icon-wedding2:before {
  content: "\e90e"
}

.fl-icon-wedding1:before {
  content: "\e90f"
}

.fl-icon-cart:before {
  content: "\e910"
}

.fl-icon-quotes:before {
  content: "\e911"
}

.fl-icon-arrow-left:before {
  content: "\e912"
}

.fl-icon-arrow-right:before {
  content: "\e913"
}

.fl-icon-big-left:before {
  content: "\e914"
}

.fl-icon-big-right:before {
  content: "\e915"
}

.fl-icon-filters:before {
  content: "\e916"
}

.fl-icon-check:before {
  content: "\e917"
}

.fl-icon-plus:before {
  content: "\e918"
}

.fl-icon-ban:before {
  content: "\f05e"
}

.fl-icon-arrows-v:before {
  content: "\f07d"
}

.fl-icon-facebook:before {
  content: "\f09a"
}

.fl-icon-badge-check:before {
  content: "\f102"
}

.fl-icon-truck-time:before {
  content: "\f13a"
}

.fl-icon-vk2:before {
  content: "\f189"
}

.fl-icon-share:before {
  content: "\e05b"
}

.fl-icon-link:before {
  content: "\e08d"
}

.fl-icon-paper-clip:before {
  content: "\e093"
}