@media all and (max-width: 768px) {
  .modal-pack{
    padding: 20px 15px;
  }
  .modal-title{
    font-size: 20px;
  }
  .order-main > div{
    padding: 25px 0px;
  }
  .order{
    padding: 0 15px;
  }
  .order-mobile-header{
    padding: 10px;
    font-size: 14px;
  }
  .order-header h1{
    font-size: 24px;
  }
  .checkout-item h3{
    font-size: 18px;
  }
  .order-products{
    padding: 25px;
  }
}

